$primary100: #f2f2f2;
$primary300: #ccc;

$base100: #eef;
$base300: #cdf3f7;
$base500: #31373f;
$base700: #232629;
$base900: #11182b;

$secondary300: #a02498;
$secondary600: #7f1a6e;
$secondary900: #6b1d53;

